@import './_partials/_vars.scss';
@import './_partials/_defaults.scss';
@import './_partials/_flexbox.scss';
@import './_partials/_mixins.scss';
@import './_partials/_menu.scss';

.site-header {
	color: $text;
	background: $white;
	padding: 5em;
	text-align: center;

	.icon {
		padding: .5em;
		fill: $text;
		transition: fill .2s ease-in-out;
	}

	.btn-large {
		font-size: 1.15em;
	}
}

.position-title {
	font-weight: 400;
}

.social {
	.icon {
		display: inline-block;
		width: 1.8em;
		height: 1.8em;
		fill: $text;
		margin-right: 1em;
		transition: fill .2s ease-in-out;
	}
}

.section-title, .section-subtitle {
	text-align: center;
	font-weight: 400;
}

.section-subtitle {
	font-weight: 300;
	color: $textHover;
}

.aboutme {
	background-color: $sectionHighlight;
	color: $text;

	h1 {
		padding: 0;
	}

	.social {
		margin-top: 1.5em;
	}

	.icon {
		width: 1.5em;
		height: 1.5em;
	}
}

.profile-item {
	padding: .35em 0;
}

.my-name {
	color: $accent;
}

strong {
	font-weight: 400;
}

.icon-twitter:hover {
	fill: #55acee;
}

.icon-github:hover {
	fill: #000;
}

.icon-linkedin:hover {
	fill: #0077B5;
}

.job-card, .education-card, .award-card {
	margin: 2.5em 0;
	display: flex;
}

.job {
	flex: 1;
	padding: 0 1em;
}

.cv-position-title {
	padding-right: 2em;
	font-weight: 700;
}

.job-header {
	padding-bottom: .75em;
}

.start, .end {
	padding-bottom: .5em;
	font-weight: 300;
}

.company, .start, .end {
	font-weight: 300;
}

.end {
	margin-left: .25em;
}

.position {
	font-weight: 400;
	padding: .5em 0;
}

.company-name {
	font-weight: 300;
	margin-bottom: 0;
}

.icon-education, .icon-award {
	width: 2.5em;
	height: 2.5em;
	display: block;
	padding-bottom: .75em
}

.icon-education {
	fill: $web;
}

.icon-award {
	fill: $stars;
}

.duration {
	display: flex;
	padding: 1.5em;
	text-align: center;
	align-items: center;
}

.roles {
	padding: 0 .65em;
	align-items: center;
}

.dates {
	display: flex;
	font-size: 1.15em;
}

.duration h2{
	padding: 1.5em 1em;
	display: flex;
	align-items: center;
	color: $white;
	border-radius: 2px;
	font-weight: 700;
	font-size: 1.5em;
	background-color: $accent;
	box-shadow: 0 .5em 1.5em rgba(255, 82, 82, .45);
}

.duration.grade-duration h2 {
	padding: 1.5em 1.5em;
}

.skills-list {
	padding: 0 1.5em;
}

.skill {
	padding: 1em 0;
}

.progress-bar, .bar {
	height: 4px;
	border-radius: 4px;
}

.progress-bar {
	position: relative;
	width: 100%;
	z-index: 10;
	top: 0;
	background-color: $sectionHighlight;
}

.bar {
	width: 30%;
	background-color: $accent;
	box-shadow: 0 0 10px $accent;
}

.award {
	background-color: #1785F8;
	padding: 2em;
	margin: 0 2em;
	text-align: center;
	border-radius: 2px;
	color: $white;
	box-shadow: 0 .5em 1.5em rgba(23, 133, 248, .45);
}

.award-title {
	font-weight: 700;
	margin-bottom: .5em;
}

.award-project {
	font-weight: 300;
	margin-bottom: 1em;
}

.profile {
	padding-top: 1.5em;
}

.country {
	font-size: 2.25em;
	font-family: "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
	margin: 0 .15em;
	cursor: pointer;
}

footer {
	color: $text;
	background-color: $sectionHighlight;
	padding: 3em 1.5em;
	text-align: left;

	.social {
		text-align: right;
	}

	h3 {
		font-weight: 700;
		color: #37474F;
	}
}

.footer-navigation {
	padding:0;
	margin:0;
	li {
		display: inline-block;
		padding-right: .95em;
		font-size: .75em;
		text-transform: uppercase;
	}
}

@media (max-width: 768px) {
	.site-header {
		padding: 5em 1.5em 5em 1.5em;
	}

	.about {
		display: block;
	}

	.site-header h1 {
		font-size: 3.25em;
	}

	.position {
		font-size: 2em;
	}

	.c-hamburger--htx {
	    right: 20px;
    	top: 15px;
	}

	.c-hamburger {
		width: 40px;
		height: 40px;
	}

	.c-hamburger span {
	    left: 0;
    	right: 0;
		height: 3px;
		top: 22px;

		&::after, &::before {
			height: 3px;
		}

		&::before {
			top: -15px;
		}

		&::after {
			bottom: -15px;
		}
	}

	footer {
		padding: 1.5em .5em;
	}

	footer, footer .social {
		text-align: center;
	}
}

@media(max-width: 1125px) {
	.duration {
		display: none;
	}

	.job-card {
		-webkit-flex-basis: 100%;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
		padding: 2em;
	}
}

@media (max-width: 468px) {
	.site-header h1 {
		font-size: 2.95em;
	}

	.position {
		font-size: 1.75em;
	}

	html, body {
		font-size: 15px;
	}
}
