@import './_partials/_vars.scss';
@import './_partials/_defaults.scss';
@import './_partials/_flexbox.scss';
@import './_partials/_menu.scss';

nav.nav {
	.navigation {
		position: absolute;
		left: 0%;
		width: 100%;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateX(-50%);
		transform: translateY(-50%);
	}

	ul, li {
		margin: 0;
		padding: 0;
	}

	.item {
		text-transform: capitalize;
		font-size: 3em;
		list-style: none;
		font-weight: 400;
		margin : .4em 0;
		transition: all .2s ease-in-out;
		a {
			display: block;
			height: 100px;
			line-height: 100px;
			transition: all 400ms cubic-bezier(.17,.67,.38,1.46);
    		transform: scale(0.3);
		}
		&:hover a {
			color: $white!important;
		}

		&:hover {
			background-color: $accent;
		}
	}
}

footer {
	color: $text;
	background-color: $sectionHighlight;
	padding: 3em 1.5em;
	text-align: left;

	.social {
		text-align: right;
	}

	h3 {
		font-weight: 700;
		color: #37474F;
	}
}

.footer-navigation {
	padding:0;
	margin:0;
	li {
		display: inline-block;
		padding-right: .95em;
		font-size: .75em;
		text-transform: uppercase;
	}
}

.social {
	.icon {
		display: inline-block;
		width: 1.8em;
		height: 1.8em;
		fill: $text;
		margin-right: 1em;
		transition: fill .2s ease-in-out;
	}
}
