@import './_partials/_vars.scss';
@import './_partials/_defaults.scss';
@import './_partials/_flexbox.scss';
@import './_partials/_mixins.scss';
@import './_partials/_menu.scss';

.wrap {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 1em;
}

.wrap-small {
	max-width: 740px;
	margin: 0 auto;
	padding: 0 1em;
}

.icon {
	display: inline-block;
	width: 1.8em;
	height: 1.8em;
	transition: all .2s ease-out;
}

.social {
	.icon:hover {
		fill: $white;
		transition: all .2s ease-out;
	}
}

.btn:hover {
	box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .15);
}

.btn {
	font-family: 'Montserrat';
	font-weight: 400;
	padding: .35em .95em;
	border-radius: 50px;
	transition: all .3s ease-out;
	letter-spacing: .015em;
	display: flex;
	align-items: center;

	.icon {
		fill: $white;
	}

	&-red {
		background-color: $accent;
		color: $white;
	}

	&-blue {
		background-color: #2196F3;
		color: $white;

		&:hover {
			box-shadow: 0 .5em 1.5em rgba(33, 150, 243, .45);
		}
	}

	&-secondary {
		background-color: $text;
		color: $white;
	}
}

.btn.btn-large {
	padding: .55em 1.5em;
	margin: 1.5em 0;

	.icon {
		width: 1.5em;
		height: 1.5em;
	}
}

.site-header {
	color: $text;
	background: #f9f9f9;
	padding: 5em;
	text-align: center;

	.buttons {
		display: flex;
		justify-content: center;
	}

	.icon {
		padding: .5em;
		fill: $text;
		transition: fill .2s ease-in-out;
	}

	.job {
		font-weight: 400;
	}
}

nav.nav {
	.navigation {
		position: absolute;
		left: 0%;
		width: 100%;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateX(-50%);
		transform: translateY(-50%);
	}

	ul, li {
		margin: 0;
		padding: 0;
	}

	.item {
		text-transform: capitalize;
		font-size: 3em;
		list-style: none;
		font-weight: 400;
		margin : .4em 0;
		transition: all .2s ease-in-out;
		a {
			display: block;
			height: 100px;
			line-height: 100px;
			transition: all 400ms cubic-bezier(.17,.67,.38,1.46);
    		transform: scale(0.3);
		}
		&:hover a {
			color: $white!important;
		}

		&:hover {
			background-color: $accent;
		}
	}
}

.heart {
	color: $pink;
}

.my-name {
	color: $accent;
}

.aboutme {
	background-color: #3F51B5;
	color:$white;

	h1 {
		padding: 0;
	}

	.icon {
		margin-right: 1em;
	}
}

.getintouch {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: .75em;
	flex-wrap: wrap;
}

.name {
	font-size: 2.75em;
}

.block {
    position: absolute;
    right: -8%;
    margin-top: -62px;
    width: 50%;
}

.avatar {
	width: 385px;
	border-radius: 2px;
}

.github {
	background-color: $white;
	color: $text;

	.icon {
		width: 1.15em;
		height: 1.15em;
		padding: 0 .25em 0 0;
	}
}

.repo {
	padding: 60px 40px;
	border-radius: 2px;
	border-top: 3px solid;
	border-top-color: rgba(0, 0, 0, 0.2);
	transition: all .3s ease-out;
	height: 100px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);

	&:hover {
		box-shadow: 0 15px 30px rgba(0, 0, 0, .15);
	}
}

@each $tag, $color in ('javascript': $javascript, 'html': $html, 'css': $css) {
	@include createLanguageCard($tag, $color);
}

.icon-fork {
	margin-left: .35em;
}

.github-stats {
	display: flex;
	align-items: center;
	margin-top: .75em;
	margin-bottom: .75em;
}

.github-title {
	white-space: nowrap;
	color: $text;
	transition: color .2s ease-out;

	&:hover {
		color: $textHover;
	}
}

.starred, .forked {
    display: flex;
	align-items: center;
}

.stars {
	color:#FFD600;
}

.forks {
	color: $text;
}

.icon-star {
	fill: $yellow;
}

.icon-fork {
	fill: $text;
}

.icon-star, .icon-fork {
	transition: all .2s ease-out;

	&:hover {
		transform: scale(1.25);
	}

	&:active {
		transform: scale(.95);
	}
}

.description {
	font-weight: 300;
	font-size: .95em;
}

.twitter {
	background-color: #f8f8f8;
	color: $text;

	h5 {
		font-weight: 300;
		line-height: 1.4em;
	}

	.tweet-img {
		border-radius: 4px;
	}

	.tweet-actions, .tweet-actions a {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: .5em;
	}

	.icon {
		width: 1.5em;
		height: 1.5em;
		padding: 0 .25em 0 0;
		transition: all .2s ease-out;

		&:hover {
			transform: scale(1.25);
		}

		&:active {
			transform: scale(.95);
		}
	}

	.icon-heart {
		fill: #E81C4F;
	}

	.likes {
		color: #E81C4F;
	}

	.icon-reply {
		fill: $accentlight;
	}

	.icon-retweet {
		fill: #19CF86;
	}

	.rts {
		color: #19CF86;
	}

	.tweet {
		text-align: center;
		max-width: 768px;
		margin-right: auto;
		margin-left: auto;
	}
}

.ghost time {
	font-size: .75em;
	color: $accentgray;
	text-transform: uppercase;
	font-weight: 400;
	margin-right: 1em;
}

.post {
	padding: 0;
	transition: all .3s ease-out;
	border-radius: 2px;
	margin: 0 1.25rem;
	overflow: hidden;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .15);

	header {
		width: 100%;
	}

	&:hover {
		box-shadow: 0 15px 45px rgba(0, 0, 0, .15);
	}
}

.post-content {
	padding: 2.5em;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.post-image {
	max-width: 100%;
}

.post-title {
	font-size: 1.35em;
	font-weight: 400;
	line-height: 1.15;

	a {
		color: $text;
		transition: color .2s ease-out;

		&:hover {
			color: $textHover;
		}
	}
}

.post-info {
	display: flex;
	align-items: center;
	margin-top: .45em;
}

.tags {
	.tag {

		&:hover:before {
			visibility: visible;
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: 0;
			left: 0;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all .2s ease-in-out 0s;
			transition: all .2s ease-in-out 0s;
		}
	}

	a {
		padding: 0 .25em .25em .25em;
		font-size: .75em;
		text-transform: uppercase;
		margin-right: .85em;
		position: relative;
		text-decoration: none;
	}

	@each $tag, $color in ('personal': $pink, 'life': $green, 'javascript': $javascript, 'html': $html, 'css': $css, 'nodejs': $nodejs, 'npm': $npm, 'tools': $tools) {
		@include createTag($tag, $color);
	}
}

footer {
	color: $text;
	background-color: $white;
	padding: 3em 1.5em;
	text-align: center;

	h3 {
		font-weight: 700;
		color: #37474F;
	}

	.icon {
		fill: #37474F;
		width: 1.25em;
		height: 1.25em;
		padding:0 .5em;
	}

	.navigation {
		padding:0;
		margin:0;
		li {
			display: inline-block;
			padding-right: .95em;
			font-size: .75em;
			text-transform: uppercase;
		}
	}
}


.tweet, .repo, .post {
	margin: 2em 0;
}

@media (max-width: 1035px) {
	.block {
		position: absolute;
//		right: -4%;
		margin-top: -48px;
		width: 50%;
	}

	.avatar {
		width: 381px;
	}
}

@media (max-width: 845px) {
	.block {
		display: none;
	}

	.bio {
		-webkit-flex-basis: 100%;
	    -ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	    max-width: 100%;
	}
}

@media (max-width: 768px) {
	header.site-header {
		padding: 5em 1.5em 5em 1.5em;
	}

	html, body {
		font-size: 18px;
	}

	section h1 {
		padding: 0 1em;
	}

	.col-xs-12.title {
		padding: 0;
	}

	.c-hamburger--htx {
	    right: 20px;
    	top: 15px;
	}

	.c-hamburger {
		width: 40px;
		height: 40px;
	}

	.c-hamburger span {
	    left: 0;
    	right: 0;
		height: 3px;
		top: 22px;

		&::after, &::before {
			height: 3px;
		}

		&::before {
			top: -15px;
		}

		&::after {
			bottom: -15px;
		}
	}

	.block {
	    position: relative!important;
	}

	.github .repo {
		height: 155px;
		padding: 40px 20px!important;
	}
}

@media (max-width: 468px) {
	section h1, .tweet, .repo, .post {
		padding: 0!important;
	}

	html, body {
		font-size: 15px;
	}

	.social {
		margin-top: 1.5em;
	}
}
