@import './_partials/_vars.scss';
@import './_partials/_defaults.scss';
@import './_partials/_flexbox.scss';

.wrap {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 1em;
}

.wrap-small {
	max-width: 740px;
	margin: 0 auto;
	padding: 0 1em;
}

.icon {
	display: inline-block;
	width: 1.8em;
	height: 1.8em;
}

.icon {
	padding: .5em;
	fill: rgba(255, 255, 255, .7);
	transition: fill .2s ease-in-out;
}

.social {
	margin-top: 1em;

	.icon:hover {
		fill: $white;
		transition: fill .2s ease-in-out;
	}
}

header.site-header {
	background-color: $accent;
	/*background: linear-gradient(rgba(33, 150, 243, 0.8), rgba(33, 150, 243, 0.8)),
        url("../img/header.jpg") center center;
	background-size: cover;*/
	color: $white;
	padding: 9.5em;
}

.heart {
	color: $pink;
}

.aboutme {
	.bio {
		padding: 1em 0.5em;
	}
	.avatar {
		border-radius: 50%;
		width: 14em;
	}

	h3 {
		padding: 0;
	}
}

.github {
	background-color: $whitesection;
	color: $text;

	article {
		margin: 2em 0;
	}

	.icon {
		width: .9em;
		height: .9em;
		padding: 0 .25em 0 0;
	}

	.icon-star {
		fill: $yellow;
	}

	.icon-fork {
		fill: $text;
		margin-left: .25em;
	}

	a.btn {
		color: $white;
	}

	.description {
		font-weight: 300;
		font-size: .9em;
	}
}

.github-btns {
	margin: .25em 0 .65em;
}

.btn {
	font-size: .8em;
	margin-right: .5em;
	display: inline-block;
	line-height: 1;
	padding: .5em;
	border-radius: 2px;
	font-weight: 400;
	text-decoration: none;
	transition: background-color 0.3s ease-out;
}

.btn-repo {
	background-color: $accent;

	&:hover {
		background-color: $accentlight;
	}
}

.btn-demo {
	background-color: #fff;
	color: $accent!important;
}

.twitter {
	background-color: $blacksection;
	color: $white;

	h5 {
		font-weight: 300;
		line-height: 1.4em;
	}

	.tweet {
		margin:2em 0;
	}
}

.contact {
	background-color: $white;

	.mail {
		margin-bottom: 0;
		color: $accent;
	}
}

.ghost {
	article {
		margin: 2em 0;
	}

	h4 {
		color: $accent;
	}
}

footer {
	background-color: $accent;
	color: $white;
	padding: 2em 1.5em;

	.icon {
		fill: rgba(255, 255, 255, .8);
		width: 1.25em;
		height: 1.25em;
		padding:0 .5em;
	}
}

article {
	padding: 0 2em!important;
}

@media(max-width: 768px) {
	header.site-header {
		padding: 5em 1.5em 5em 1.5em;
	}

	section h3, article {
		padding: 0!important;
	}

	.col-xs-12 {
		padding-left: 0;
		padding-right: 0;
	}
}
