section.skills
    .wrap
        h2.section-title Skills
        h4.section-subtitle Things that I use and love.
        ul.skills-list
            each skill in me.skills
                li.skill
                    p=skill.title
                    .progress-bar
                        .bar(style='width:'+skill.value+'%;')
