.image {
  filter: blur(8px);
  /* https://stackoverflow.com/questions/27532270/css-blur-weird-shadow-effect */
  transform: translateZ(0);
  transition: filter 200ms ease-in-out;
  border-radius: 4px;
  max-width: 100%;
}

.image:global(.lazyloaded) {
  filter: blur(0);
}
