.image {
  filter: blur(8px);
  /* https://stackoverflow.com/questions/27532270/css-blur-weird-shadow-effect */
  transform: translateZ(0);
  transition: filter 200ms ease-in-out;
  border-radius: 4px;
  max-width: 100%;
  margin: 1rem 0;
  aspect-ratio: 16 / 9;
  height: auto;
}

.image:global(.lazyloaded) {
  filter: blur(0);
}
