@mixin createTag($tag, $color) {
  .#{$tag} {
    color: $color;

    &:before {
      background-color: $color;
    }
  }
}

@mixin createLanguageCard($language, $color) {
  .language-#{$language} {
    border-top-color: $color;
  }
}

@mixin mediaUpToXtraSmallDevices {
  @media (max-width: 768px) { @content; }
}

@mixin mediaUpToMobileDevices {
  @media (max-width: 468px) { @content; }
}

@mixin mediaUpFromSmallToXtraSmallDevices {
  @media (min-width: 768px) and (max-width: 1024px) { @content; }
}
