$themes: (
  dark: (
    background: #000000,
    backgroundSurface: #121212,
    primary: #FF5252,
    secondary: #00B0FF,
    shadowColor: #121212,
    text: #FFFFFF,
    textOnPrimary: #FFFFFF,
    textOnSecondary: #FFFFFF,
    textSecondary: rgba(#FFFFFF, 0.60),
  ),
  light: (
    background: #FFFFFF,
    backgroundSurface: #F1F6F8,
    primary: #FF5252,
    secondary: #00B0FF,
    shadowColor: #000000,
    text: #37474F,
    textOnPrimary: #FFFFFF,
    textOnSecondary: #FFFFFF,
    textSecondary: #78909C,
  )
);

@function theme($palette, $color) {
  @if not(map-has-key($themes, $palette)) {
    @error 'Unknown theme palette #{$palette} in themes.';
  };

  @return map-get(map-get($themes, $palette), $color);
}
