$websiteTheme: light;

/* LANGUAGES, TAGS AND ICONS */

$html: #FF5722;
$css: #AB47BC;
$javascript: #FBDD51;
$shell: #89E051;
$nodejs: #00E676;
$npm: #E53935;
$tools: #3367D6;
$personal: #263238;
$stars: #FFD600;
$web: #64B5F6;
$react: #00D8FF;
$conferences: #FF4081;

$systemFonts: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
