- var isDevelopment = process.env.NODE_ENV === 'development'
- var baseUrl = isDevelopment ? 'http://localhost:5000' : 'https://carloscuesta.me'
footer
    .wrap
        .row.middle-xs
            .col-xs-12.col-sm-6
                h3 #{me.name}
                ul.footer-navigation
                    li.item
                        a(href=baseUrl, onmousedown="ga('send', 'event', 'Footer Nav', 'Home');")
                            |Home
                    li.item
                        a(href=`${baseUrl}/about`, onmousedown="ga('send', 'event', 'Footer Nav', 'About me');")
                            |About Me
                    li.item
                        a(href=`${baseUrl}/blog`, onmousedown="ga('send', 'event', 'Footer Nav', 'Blog');", target="_blank")
                            |Blog
                    li.item
                        a(href='mailto:'+me.mail, onmousedown="ga('send', 'event', 'Footer Nav', 'Mail');")
                            |Contact

            .social.col-xs-12.col-sm-6
                a(href="https://twitter.com/crloscuesta", target="_blank")
                    svg.icon.icon-twitter
                        use(xlink:href="#icon-twitter")
                a(href="https://github.com/carloscuesta", target="_blank")
                    svg.icon.icon-github
                        use(xlink:href="#icon-github")
                a(href="https://es.linkedin.com/in/crloscuesta", target="_blank")
                    svg.icon.icon-linkedin
                        use(xlink:href="#icon-linkedin")
