- var isDevelopment = process.env.NODE_ENV === 'development'
- var baseUrl = isDevelopment ? 'http://localhost:5000' : 'https://carloscuesta.me'
nav.nav.row.middle-xs
    input#hamburger-menu.c-hamburger__input(type="checkbox")
    label.c-hamburger.c-hamburger--htx(onmousedown="ga('send', 'event', 'Menu', 'Open/Close');", for="hamburger-menu")
        span
    .modal
        .modal-content
            ul.navigation
                li.item
                    a(href=baseUrl, onmousedown="ga('send', 'event', 'Menu', 'Home');")
                        |Home
                li.item
                    a(href='#{baseUrl}/about', onmousedown="ga('send', 'event', 'Menu', 'About Me');")
                        |About Me
                li.item
                    a(href='#{baseUrl}/blog', onmousedown="ga('send', 'event', 'Menu', 'Blog');")
                        |Blog
