.scrollablePosts {
  /* @FIXME: I need to set !important to override this property on Firefox
    this overrides the row value.
  */
  flex-wrap: nowrap!important;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.scrollablePosts:global(::-webkit-scrollbar) {
  -webkit-appearance: none;
  height: .5em;
}

.scrollablePosts:global(::-webkit-scrollbar-thumb) {
  border-radius: 4px;
  background-color: var(--textSecondary);
}

.scrollablePosts:global(::-webkit-scrollbar-track) {
  border-radius: 4px;
  box-shadow: 0 1px 4px var(--shadowColor);
  margin: 0 1.15em;
}

@media (prefers-color-scheme: dark) {
  .scrollablePosts:global(::-webkit-scrollbar-track) {
    box-shadow: none;
  }
}
