.scrollablePosts {
  /* @FIXME: I need to set !important to override this property on Firefox
    this overrides the row value.
  */
  flex-wrap: nowrap!important;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.scrollablePosts:global(::-webkit-scrollbar) {
  -webkit-appearance: none;
  display: none;
}
