# Logs
*.log

# ESLint
.eslintcache

# Dependencies directory
node_modules

# Coverage
coverage

# Next
.next
.vercel
out

# OSX Files
*.DS_Store

# Sitemaps
sitemap.xml

# Environment vars
.env
.env.*
.lighthouseci

# next-pwa
public/workbox-*.js
public/sw.js
public/*.map

# ts
*.tsbuildinfo
