.sectionTitle {
  font-size: 2em;
  margin: 0;
  font-weight: 700;
}

.sectionTitleMargin {
  margin: 1em 0;
}

.sectionSubtitle {
  color: var(--textSecondary);
  font-weight: 400;
  margin: 0;
  margin-bottom: 1.5em;
}
