.sectionTitle {
  font-size: 2em;
  margin: 0;
  font-weight: 700;
}

.sectionSubtitle {
  color: var(--textSecondary);
  font-weight: 400;
  margin: 0;
  margin-bottom: 1.5em;
}

.isCentered {
  text-align: center;
}
