.link {
  color: var(--text);
  text-decoration: none;
  padding: .5rem 1rem;
  transition: opacity .1s ease-out;
}

.link:hover {
  text-decoration: inherit;
  opacity: 0.65;
}

.linkActive {
  font-weight: 600;
}

.linkActive:hover {
  opacity: 1;
}
