footer.center-xs
    h3 #{me.name}
    .social
        a(href="https://twitter.com/#{social.twitter}")
            svg.icon.icon-linkedin
                use(xlink:href="#icon-twitter")
        a(href="https://github.com/#{social.github}")
            svg.icon.icon-github
                use(xlink:href="#icon-github")
        a(href="https://es.linkedin.com/in/#{social.linkedin}")
            svg.icon.icon-linkedin
                use(xlink:href="#icon-linkedin")
script.
    console.log('%cMade with '+'%c♥'+'%c by %cCarlos Cuesta%c\nhttp://github.com/carloscuesta\nhttp://twitter.com/crloscuesta', 'color:#455A64', 'color:#EC407A', 'color:#455A64', 'color:#455A64; font-weight:bold;', 'color:#EC407A');
