footer
    .wrap
        .row.middle-xs
            .col-xs-12.col-sm-6
                h3 #{me.name}
                ul.footer-navigation
                    li.item
                        a(href='https://carloscuesta.me', onmousedown="ga('send', 'event', 'Footer Nav', 'Home');")
                            |Home
                    li.item
                        a(href='https://carloscuesta.me/aboutme', onmousedown="ga('send', 'event', 'Footer Nav', 'About me');")
                            |About Me
                    li.item
                        a(href='https://carloscuesta.me/blog', onmousedown="ga('send', 'event', 'Footer Nav', 'Blog');", target="_blank")
                            |Blog
                    li.item
                        a(href='mailto:'+me.mail, onmousedown="ga('send', 'event', 'Footer Nav', 'Mail');")
                            |Contact

            .social.col-xs-12.col-sm-6
                a(href="https://twitter.com/#{social.twitter}", target="_blank")
                    svg.icon.icon-twitter
                        use(xlink:href="#icon-twitter")
                a(href="https://github.com/#{social.github}", target="_blank")
                    svg.icon.icon-github
                        use(xlink:href="#icon-github")
                a(href="https://es.linkedin.com/in/#{social.linkedin}", target="_blank")
                    svg.icon.icon-linkedin
                        use(xlink:href="#icon-linkedin")
script.
    console.log('%cMade with '+'%c♥'+'%c by %cCarlos Cuesta%c\nhttps://github.com/carloscuesta | https://twitter.com/crloscuesta | https://linkedin.com/in/crloscuesta', 'font-size:18px;font-family:Montserrat;color:#37474F;', 'font-size:18px;font-family:Montserrat;color:#FF5252;', 'font-size:18px;font-family:Montserrat;color:#37474F;', 'font-size:18px;color:#FF5252;font-family:Montserrat;font-weight:bold;','');
