include _nav.jade
header.site-header(itemprop="author", itemscope, itemtype="http://schema.org/Person")
    .wrap
        h1 
            span.salute Hi! I'm
            span.my-name  #{me.name}
        h2.job #{me.job}
        .buttons
            a.btn.btn-large.btn-red.btn-red-raised(href="mailto:#{me.mail}?subject=Hello") Get in touch
