nav.nav.row.middle-xs
    input#hamburger-menu.c-hamburger__input(type="checkbox")
    label.c-hamburger.c-hamburger--htx(for="hamburger-menu")
        span
    .modal
        .modal-content
            ul.navigation
                li.item
                    a(href='https://carloscuesta.me')
                        |Home
                li.item
                    a(href='https://carloscuesta.me/blog')
                        |Blog
                li.item
                    a(href='mailto:crloscuesta@gmail?subject=Hello!')
                        |Contact
