@mixin createTag($tag, $color) {
	.#{$tag} {
		color: $color;

		&:before {
			background-color: $color;
		}
	}
}

@mixin createLanguageCard($language, $color) {
	.language-#{$language} {
		border-top-color: $color;
	}
}

@mixin small {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin extrasmall {
    @media (max-width: 468px) {
        @content;
    }
}
