/* COLORS */

$accent: #FF5252;
$white: #FFF;
$menu: #FF5252;
$sectionHighlight: #F1F6F8;

/* TEXT */

$text: #37474F;
$textHover: #78909C;
$textLight: #B0BEC5;
$links: #1785F8;

/* LANGUAGES, TAGS AND ICONS */

$html: #FF5722;
$css: #42A5F5;
$javascript: #FBDD51;
$nodejs: #00E676;
$npm: #E53935;
$tools: #3367D6;
$personal: #FF4081;
$life: #4CAF50;
$stars: #FFD600;
$web: #64B5F6;
