$white: #fff;
$accent: #FF5252; //FF5252
$accentlight: #64B5F6;
$accentgray: #B0BEC5;
$yellow: #FFD600;
$pink: #EC407A;
$green: #4CAF50;
$text: #37474F;
$menu: #37474F;
$whitesection: #f8f8f8;
$blacksection: #232323;
$textHover: #546E7A;

$javascript: #fbdd51;
$nodejs: #8BC34A;
$css: #42A5F5;
$html: #FF5722;
$npm: #E53935;
$tools: #3367D6;
