.wrapper {
  max-width: 600px;
}

.text {
  font-size: 1.125rem;
  padding-bottom: 1rem;
}

.button {
  background-color: var(--secondary);
  border-radius: .25rem;
  color: var(--textOnPrimary);
  cursor: pointer;
  padding: .5rem 1.5rem;
  text-decoration: none;
  transition: box-shadow 0.2s ease-out;
}

.button:hover {
  text-decoration: inherit;
}
