.container {
  padding-top: 3rem;
  margin-bottom: 2rem;
}

.title {
  margin: 0;
  font-size: 3.25em;
  display: inline-block;
  padding: 0;
}

.wave {
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
  font-size: 3rem;
  margin-left: 1rem;
}

.bio {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  max-width: 456px;
  padding-top: .5rem;
}

@media (max-width: 768px) {
  .container {
    padding-top: 2rem;
  }

  .title {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

  .bio {
    font-size: 1.5rem;
  }

  .wave {
    display: none;
  }
}

@keyframes wave {
  0% { transform: rotate(  0.0deg) }
  10% { transform: rotate(-10.0deg) }
  20% { transform: rotate( 12.0deg) }
  30% { transform: rotate(-10.0deg) }
  40% { transform: rotate(  9.0deg) }
  50% { transform: rotate(  0.0deg) }
  100% { transform: rotate(  0.0deg) }
}
