.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  border-left: .20rem solid;
  border-left-color: var(--backgroundSurface);
  border-radius: .20rem;
  box-shadow: 0 1px 4px var(--shadowColor);
  overflow: hidden;
  transition: box-shadow 0.2s ease;
  margin: 1rem 0;
}

.list li:hover {
  box-shadow: 0 .25rem .5rem var(--shadowColor);
}

.list a:focus {
  outline-offset: -.05rem;
}

.description {
  flex: 1;
  margin: 0;
}

.name {
  margin-right: 1rem;
}

.list a {
  display: flex;
  padding: 1rem;
  text-decoration: none;
  color: var(--text);
}

.starsContainer {
  display: flex;
  align-items: center;
}

.stars {
  margin-right: .25rem;
  color: var(--languageJavaScript);
}

.list li:global(.javascript) {
  border-left-color: var(--languageJavaScript);
}

.list li:global(.typescript) {
  border-left-color: var(--languageTypeScript);
}

.list li:global(.shell) {
  border-left-color: var(--languageShell);
}

.list li:global(.css) {
  border-left-color: var(--languageCss);
}

.list li:global(.html) {
  border-left-color: var(--languageHtml);
}

@media (prefers-color-scheme: dark) {
  .list li {
    background-color: var(--backgroundSurface);
    box-shadow: none;
    transition: background 0.2s ease-out;
  }

  .list li:hover {
    background-color: var(--backgroundElevation);
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .list a {
    flex-direction: column;
  }

  .description {
    padding: .5rem 0;
  }
}
