title #{site.title}
meta(name="description", content="#{description}")
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", type="text/css", href="style.css")
link(rel="stylesheet", href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css", type="text/css")
