@media (prefers-color-scheme: dark) {
  html {
    --background: #000000;
    --backgroundSurface: #121212;
    --primary: #FF5252;
    --secondary: #00B0FF;
    --shadowColor: #292929;
    --text: #FFFFFF;
    --textOnPrimary: #FFFFFF;
    --textOnSecondary: #FFFFFF;
    --textSecondary: #93A6AF;
    --codeBackground: #121212;
  }
}

@media (prefers-color-scheme: light) {
  html {
    --background: #FFFFFF;
    --backgroundSurface: #F1F6F8;
    --primary: #FF5252;
    --secondary: #00B0FF;
    --shadowColor: rgba(0, 0, 0, 0.25);
    --text: #1F282C;
    --textOnPrimary: #FFFFFF;
    --textOnSecondary: #FFFFFF;
    --textSecondary: #78909C;
    --codeBackground: #121212;
  }
}

body,
html {
  background-color: var(--background);
  color: var(--text);
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

a {
  color: var(--secondary);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
  font-weight: 600;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

b,
strong {
  font-weight: 500;
}

p {
  font-weight: 300;
}

section {
  margin-bottom: 2em;
}

li {
  margin: .5em;
}

blockquote {
  border-left: var(--textSecondary) .35em solid;
  box-sizing: border-box;
  color: var(--textSecondary);
  margin: 1.5em 0;
  padding: .25em 0 .25em 2em;
  font-style: italic;
  font-size: 1em;
}

code {
  font-family: Consolas, monospace;
  white-space: pre-wrap;
}

hr {
  background-color: var(--backgroundSurface);
  border: none;
  height: 1px;
  margin: 1.5em 0;
}

.postDetail {
  font-size: 18px;
}

.postDetail img {
  max-width: 100%;
}

.postDetail b, strong {
  font-weight: 700;
}

.postDetail header {
  margin-bottom: 1em;
}

.postDetail h1,
.postDetail h2,
.postDetail h3,
.postDetail h4,
.postDetail h5,
.postDetail h6 {
  line-height: 1.15;
}

@media (max-width: 768px) {
  .postDetail h1 {
    font-size: 2em;
  }
}

::selection {
  background: rgba(255, 82, 82, 1);
  color: #fff;
}
