@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: var(--background);
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.lazy-blur {
  transition: all 200ms ease-in-out;
  filter: blur(1px);
}

.lazyloaded {
  filter: blur(0);
}

.language-project-javascript {
  background-color: #fbdd51;
}

.language-project-typescript {
  background-color: #3178c6;
}

.language-project-shell {
  background-color: #89e051;
}

.language-project-css {
  background-color: #7e57c2;
}

.language-project-html {
  background-color: #ff7043;
}

:not(pre) > code[class*='language-'],
pre,
.prose pre,
pre[class*='language-'] {
  font-family: Operator Mono, Fira Code, Consolas, monospace;
  font-size: 1.25rem;
  background: #1d1f21;
  color: #f8f8f2;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
