@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: var(--background);
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.language-project-javascript {
  background-color: #fbdd51;
}

.language-project-typescript {
  background-color: #3178c6;
}

.language-project-shell {
  background-color: #89e051;
}

.language-project-css {
  background-color: #7e57c2;
}

.language-project-html {
  background-color: #ff7043;
}

.prose a[href]:not([href^="#"]) {
  @apply no-underline text-blue-600 underline-offset-2 dark:text-blue-400
}

.prose a[href]:not([href^="#"]):hover {
  @apply underline
}

.prose a[href^="#"] {
  @apply no-underline underline-offset-2
}

.prose a[href^="#"]:hover {
  @apply underline
}

.prose ol, .prose ol ol {
  counter-reset: item;
}

.prose ol > li, .prose ol ol li {
  counter-increment: item;
}

.prose ol > li::marker {
  content: counters(item, ".") "." " ";
  @apply text-sm;
}

.prose ol ol li::marker {
  content: counters(item, ".") " ";
  @apply text-sm;
}

.prose h1 a,
.prose h2 a,
.prose h3 a,
.prose h4 a,
.prose h5 a,
.prose h6 a {
  @apply no-underline font-bold
}

.prose h1 a:hover,
.prose h2 a:hover,
.prose h3 a:hover,
.prose h4 a:hover,
.prose h5 a:hover,
.prose h6 a:hover {
  @apply underline
}

code[data-theme],
pre[data-theme] {
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.75;
  tab-size: 4;
  hyphens: none;
}

:not(pre) > code[class*='language-'],
pre,
.prose pre,
pre[data-language] {
  font-size: 1rem;
}

pre,
pre[data-theme] {
  font-size: 1rem;
  padding: 1rem 0;
  margin: 0.5rem 0;
  overflow: auto;
  border-radius: 0.35rem;
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
  background-color: var(--shiki-light-bg);
  border: 1px solid #e8eaec;
}

pre [data-line] {
  padding: 0 1.25rem;
}

[data-highlighted-line] {
  background: #f6f8fa;
}

code[data-theme*=' '] {
  background-color: var(--shiki-light-bg);
}

code[data-theme*=' '] span {
  color: var(--shiki-light);
}

.dark [data-highlighted-line] {
  background: #333739;
}

.dark code[data-theme*=' '] {
  background-color: var(--shiki-dark-bg);
  border: 0;
}

.dark code[data-theme*=' '] span {
  color: var(--shiki-dark);
}

.dark pre,
.dark pre[data-theme] {
  background-color: var(--shiki-dark-bg);
  border: unset;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
  }
}
