.header {
  padding-bottom: 1.25em;
}

.title {
  margin-bottom: .25em;
}

.time, .readingTime {
  color: var(--textSecondary);
  font-size: 0.85em;
  text-transform: uppercase;
}

.readingTime::before {
  content: "•";
  padding: 0 .25rem;
}
