.header {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 40vh;
  padding: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .header {
    min-height: 30vh;
  }
}

@media (max-width: 568px) {
  .header {
    min-height: 20vh;
  }
}
