section.aboutme
    .wrap-small
        .row.middle-xs
            .col-xs-12.col-sm-8.bio
                h3 Hi! I'm <b>#{me.name}</b>.
                p !{me.aboutme}
            .col-xs-12.col-sm-4.center-xs
                img.avatar(src="img/carloscuesta.jpeg", alt="Carlos Cuesta")
