section.twitter
    .wrap
        .row.center-xs
            -each post in ghostData.posts
                article.col-xs-12.col-sm-6.col-md-6
                    h4 #{post.title}
                    a(href="http://carloscuesta.me/blog#{post.url}") Read More
