.scrollButtons {
  justify-content: space-between;
  display: flex;
}

.button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  color: var(--text);
  cursor: pointer;
  display: flex;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: .5rem 0;
  touch-action: manipulation;
  transition: opacity .1s ease-out;
}

.button:hover {
  opacity: 0.75;
}

.button:active > svg, .button:active span {
  opacity: 0.5;
}

.button:disabled {
  visibility: hidden;
}

@media (max-width: 768px) {
  .button {
    padding: .5em 0;
  }
}
