.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0;
  border-top: 1px solid var(--backgroundSurface);
}

.footer a {
  color: var(--textPrimary);
  text-decoration: none;
  transition: opacity .1s ease-out;
}

.footer a:hover {
  opacity: 0.65;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

@media(max-width: 400px) {
  .footer {
    flex-direction: column;
  }
}
