nav
  ul
    li #[a(href="http://carloscuesta.me", onmousedown="ga('send', 'event', '404','Click', 'Link Home');") Home]
    li #[a(href="http://carloscuesta.me/about", onmousedown="ga('send', 'event', '404','Click', 'Link Blog');") About me]
    li #[a(href="http://carloscuesta.me/blog", onmousedown="ga('send', 'event', '404','Click', 'Link Blog');") Blog]
    li #[a(href="http://carloscuesta.me/sitemap.xml", onmousedown="ga('send', 'event', '404','Click', 'Link Sitemap');") Sitemap]
