doctype html
html
  head
    title Carlos Cuesta | Error 500
    meta(name="description", content="Error 500 Internal Server Error - Carlos Cuesta")
    include ./_head.pug
  body
    .container
      .row.message.middle-xs
        .col-xs-12
          h1 Oops! There's an error
          h2 #{error}
          h3 Please try again. Here are some helpful links instead:
          include ./_nav.pug
          h4 Error Code:
            span.status-code 500
          div.btn-return
            a(href="mailto:hi@carloscuesta.me?Subject=Error @ carloscuesta.me - #{error}", onmousedown="ga('send', 'event', '500','Click', 'Contact');").btn.btn-raised Contact site administrator
            a(href="https://carloscuesta.me", onmousedown="ga('send', 'event', '500','Click', 'Return Button');").btn.btn-blue Return to carloscuesta
  include ../_includes/_analytics.pug
  script.
    ga('send', 'event', 'Error', '500');
