.header {
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--backgroundWithTransparency);
  padding: 0.75em 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* On Chrome Desktop, setting a backdrop-filter makes the fixed children
  position relative to parent. Works good on Chrome mobile, so this is weird.

  https://stackoverflow.com/questions/52937708/why-does-applying-a-css-filter-on-the-parent-break-the-child-positioning
*/
.disableBackdropFilter {
  backdrop-filter: unset;
}

@media (prefers-color-scheme: dark) {
  .header {
    box-shadow: none;
  }
}

.logo {
  align-items: center;
  color: var(--text);
  display: flex;
  font-size: 1.15rem;
  font-weight: bold;
  text-decoration: none;
}

.avatar {
  border-radius: 50%;
  margin-right: 1rem;
}

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.links {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.links li {
  margin: 0;
}

@media (max-width: 768px) {
  .header {
    padding: 0.5em 0;
  }

  .links {
    display: none;
  }
}
