.biography {
  background-color: var(--backgroundSurface);
  color: var(--text);
  padding-top: 2em;
  padding-bottom: 2em;
}

.profilePicture {
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  width: 385px;
}
