.biography {
  background-color: var(--backgroundSurface);
  color: var(--text);
  padding-top: 2em;
  padding-bottom: 2em;
}

.biographyText {
  font-size: 1.5em;
  font-weight: 400;;
}

.profilePicture {
  border-radius: 50%;
  display: flex;
  filter: blur(5px);
  margin: 0 auto;
  max-width: 100%;
  transition: filter 200ms ease-in-out;
  width: 360px;
}

.profilePicture:global(.lazyloaded) {
  filter: blur(0);
}
