.text {
  color: var(--text);
  font-size: 1.25rem;
  font-weight: 400;
}

.picture {
  border-radius: 50%;
  display: flex;
  filter: blur(8px);
  height: auto;
  margin-left: auto;
  max-width: 100%;
  transition: filter 200ms ease-in-out;
  width: 360px;
}

.picture:global(.lazyloaded) {
  filter: blur(0);
}

@media(max-width: 768px) {
  .picture {
    margin: 0 auto;
  }
}
