doctype html
html
    head
        title #{me.name} | About Me | #{me.job}
        link(rel="stylesheet", type="text/css", href="/aboutme.css")
        //-style
            include ../../static/css/aboutme.css
        script  
            include ../../static/js/fonts.js
    body
        include ../_includes/_nav.jade
        include ../_includes/_icons.jade
        include ../_includes/_logos.jade
        header.site-header(itemprop="author", itemscope, itemtype="http://schema.org/Person")
            .wrap
                h1 
                    span.about About
                    span.my-name  #{me.name}
                h2.position-title #{me.job}
        main
            include ../_includes/_sections/_profile.jade
            include ../_includes/_sections/_experience.jade
            section.education.col-xs-12
                .wrap
                    h2.section-title Education
                    h4.section-subtitle Work experience as a Front End developer.
                    .row.around-xs
            section.awards
                .wrap
                    h2.section-title Awards
                    h4.section-subtitle Work experience as a Front End developer.
                    .row.around-xs
            section.skills
                .wrap
                    h2.section-title Skills
                    h4.section-subtitle Work experience as a Front End developer.
                    .row.around-xs
        include ../_includes/_footer.jade
        
