doctype html
html
    head
        title #{site.title} | About Me
        link(rel="stylesheet", type="text/css", href="/aboutme.css")
        //-style
            include ../../static/css/aboutme.css
        script  
            include ../../static/js/fonts.js
    body
        include ../_includes/_icons.jade
        header
            include ../_includes/_nav.jade
            include ../_includes/_footer.jade
