doctype html
html(manifest="carloscuesta.appcache")
    head
        include ../_includes/_head.jade
    body
        include ../_includes/_icons.jade
        include ../_includes/_header.jade
        include ../_includes/_body.jade
