.header {
  height: 50vh;
  overflow: hidden;
}

.image {
  filter: blur(1px);
  height: 50vh;
  object-fit: cover;
  transition: all 200ms ease-in-out;
  width: 100%;
}

.image:global(.lazyloaded) {
  filter: blur(0);
}

@media (max-width: 768px) {
  .header, .image {
    height: 30vh;
  }
}

@media (max-width: 568px) {
  .header, .image {
    height: 20vh;
  }
}
