.menu {
  background: var(--background);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.button {
  background-color: transparent;
  border: none;
  color: inherit;
  color: var(--text);
  cursor: pointer;
  display: flex;
  font: inherit;
  margin: 0;
  padding: 0.75em;
}

.closeContainer {
  padding: 0.5em 1.5em;
  position: absolute;
  right: 0;
}

.links {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 2em;
  flex-direction: column;
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}
